/* import by angular/material */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* handmade */

* {
  box-sizing: border-box;
}

html {
  --font-family-title: "Neucha", "sans-serif";
  --font-family-content: "Roboto", "sans-serif";
  --font-family-signature: "Dancing Script", "cursive";

  --font-size-big-title-h1: 3.75rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.5rem;
  --font-size-content: 1rem;
  --font-size-footer: 0.75rem;

  --color-primary: rgb(2, 94, 25);
  --color-font: rgb(3, 59, 41);
  --color-background: rgb(255, 252, 239);
  --color-call-to-action: rgb(46, 255, 4);
  --color-secondary: rgb(70, 46, 1);
}

body {
  background-color: var(--color-background);
  font-size: var(--font-size-content);
  font-family: var(--font-family-content);
  color: var(--color-font);
}

a {
  padding: 0.8rem;
  color: var(--color-background);
  text-decoration: none;
  transition: 0.3s;
  text-shadow: 0.25rem 0.25rem 0.25rem var(--color-font);
}

a:hover {
  color: var(--color-call-to-action);
  box-shadow: 0 0 0.25rem var(--color-call-to-action);
  border-radius: 1.25rem;
}

h1 {
  font-family: var(--font-family-title);
  font-size: var(--font-size-big-title-h1);
  color: var(--color-background);
  text-shadow: 0.25rem 0.25rem 0.25rem var(--color-font);
}

h2 {
  font-family: var(--font-family-title);
  font-size: var(--font-size-h2);
  text-align: center;
}

h3 {
  font-family: var(--font-family-title);
  font-size: var(--font-size-h3);
  font-weight: normal;
  text-align: center;
}

button {
  background-color: var(--color-primary);
  color: var(--color-background);
  font-family: var(--font-family-title);
  width: 50%;
  padding: 0.5rem;
  border-radius: 1rem;
}

button:hover {
  background-color: var(--color-call-to-action);
  color: var(--color-font);
}

abbr {
  text-decoration: none;
}

.submit-btn {
  &:disabled {
      opacity: 0.6;

      &:hover {
          background-color: var(--color-primary);
          color: var(--color-background);
      }
  }
}

.alert {
  color: red;
  font-size: var(--font-size-footer);
  }
  
  
.alert-form {
  color: red;
  text-align: center;
  font: var(--font-size-h3);
  margin-bottom: 2rem;
  }
  
.title {
  text-align: center;
  margin-top: 0;
  padding: 2rem;
  position: absolute;
  top: 20%;
  left: 50%;
  transform:translateX(-50%);
 }
