* {
  box-sizing: border-box;
}

html {
  --font-family-title: "Neucha", "sans-serif";
  --font-family-content: "Roboto", "sans-serif";

  --font-size-big-title-h1: 3.75rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.5rem;
  --font-size-content: 1rem;
  --font-size-footer: 0.75rem;

  --color-primary: #025e19;
  --color-font: #033b29;
  --color-background: #fffcef;
  --color-call-to-action: #2eff04;
  --color-secondary: #462e01;
}

body {
  margin: 0;
  background-color: var(--color-background);
  font-size: var(--font-size-content);
  font-family: var(--font-family-content);
}

header {
    min-height: 400px;
    background-image: url("/images/elephants-279505_1280.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 50px;
  display: grid;
  grid-template-columns:  repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
  padding:  1rem;
  background: rgba(0, 0, 0, 0.2);
  /* -webkit-backdrop-filter: blur(2px); */
  backdrop-filter: blur(2px);


}

a {
  padding: 0.8rem;
  color: var(--color-background);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  /* text-decoration: var(--color-call-to-action) underline; */
  /* background-color: var(--color-call-to-action); */
  color: var(--color-call-to-action);
  box-shadow: 0 0 5px var(--color-call-to-action);
  border-radius: 20px;

}

#logo {
  border: 0.3rem solid var(--color-call-to-action);
  border-radius: 50%;
  background-color: var(--color-background);
  color: var(--color-font);
  font-family: var(--font-family-title);
  font-size: var(--font-size-h2);
}

h1 {
  font-family: var(--font-family-title);
  font-size: var(--font-size-big-title-h1);
  color: var(--color-background);
}

footer {
  background-color: var(--color-primary);
  color: var(--color-background);
  font-size: var(--font-size-footer);
}

footer p {
  margin: 0;
}

.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  text-align: center;
  align-items: center;
  padding: 1rem;
}

#copyright {
  text-align: center;
}
