<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Arcadia</title>
    <meta
      description="Visitez Arcadia, le seul zoo en Bretagne qui vous fait découvrir les animaux sauvages!"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Neucha&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/back-office.css"/>
    <link rel="stylesheet" href="/styles/services.css"/>
    <link rel="stylesheet" href="/styles/habitats.css"/>
    <link rel="stylesheet" href="/styles/style.css"/>
  </head>
  <body>
    <header>
      <div class="links">
        <a href="/Accueil" id="logo"
          ><img src="/images/logo L.png" alt="logo Arcadia"
        /></a>
        <nav class="navbar">
          <ul class="links-pages">
            <li><a href="/">Accueil</a></li>
            <li><a href="/Habitats">Habitats</a></li>
            <li><a href="/Services">Services</a></li>
            <li><a href="/Contact">Contact</a></li>
          </ul>
        </nav>
        <a href="#side-drawer" class="menu-btn">
          <span></span>
          <span></span>
          <span></span>
        </a>
        <a class="connection-btn" href="/Connexion">Connexion</a>
      </div>

      <div class="hero-scene">
        <h1>Espace personnel</h1>
      </div>
    </header>
    <aside id="side-drawer">
      <nav>
        <ul>
          <li><a href="/">Accueil</a></li>
          <li><a href="/Habitats">Habitats</a></li>
          <li><a href="/Services">Services</a></li>
          <li><a href="/Contact">Contact</a></li>
          <li><a href="">Connexion</a></li>
        </ul>
      </nav>
    </aside>
    <main>
      <section>
        <h2>Horaires</h2>
        <p>De 9h00 à 19h00</p>
        <p>Du Lundi au Dimanche</p>
        <div>
          <button class="btn">Modifier</button>
          <button class="btn">Supprimer</button>
        </div>
      </section>

      <section>
        <h2>Services</h2>
        <div class="service-item">
          <img
            class="service-img"
            src="/images/tour-guide-6816049_1280.jpg"
            alt="Guide accompagnant un groupe de visiteurs"
          />
          <div class="service-content">
            <h3>Visite guidée avec Manu</h3>
            <p>
              Manu vous propose ses services afin de vous faire découvrir plus
              en détails l'habitat de votre choix. Il vous expliquera la vie au
              sein de celui-ci et décryptera pour vous la faune et la flore.
              Pensez à vous positionner dès votre arrivée au parc, les places
              sont limitées. Service gratuit
            </p>
          </div>
          <div>
            <button class="btn reverse-color-btn">Modifier</button>
            <button class="btn reverse-color-btn">Supprimer</button>
          </div>
        </div>
        <div>
          <button class="add-btn">+</button>
        </div>
      </section>

      <section>
        <h2>Habitats</h2>
        <div class="habitat-item">
          <img src="/images/tigre.jpg" alt="" class="habitat-img" />
          <div class="habitat-content">
            <h3>La Savane</h3>
            <p>
              description Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Sunt commodi aliquam consequatur, quo veritatis nulla iure,
              dolorum praesentium dolor tempore exercitationem non totam
              expedita! Et quisquam quos nesciunt dignissimos neque?
            </p>
            <ul>
              <li><a href="">animal1</a></li>
              <li><a href="">animal2</a></li>
            </ul>
          </div>
          <div>
            <button class="btn">Modifier</button>
            <button class="btn">Supprimer</button>
          </div>
        </div>
        <div>
          <button class="add-btn">+</button>
        </div>
      </section>

      <section>
        <h2>Animaux</h2>
        <p>choix animal</p>
        <div class="id-card-animal">
          <img src="/images/tigre.jpg" alt="" />
          <div class="id-card-animal-content">
            <p>prenom animal</p>
            <p>race</p>
            <p>habitat</p>
          </div>
          <div>
            <button class="btn reverse-color-btn">Modifier</button>
            <button class="btn reverse-color-btn">Supprimer</button>
          </div>
        </div>
        <div>
          <button class="add-btn">+</button>
        </div>
      </section>

      <section>
        <h2>Compte-rendu Vétérinaire</h2>
        <div>filtre</div>
        <div>
          <div>animalId</div>
          <div>Etat</div>
          <div>nourriture</div>
          <div>grammage</div>
          <div>date de passage</div>
          <div>detail de l animal optionnel</div>
          <button class="btn">Modifier</button>
          <button class="btn">Supprimer</button>
        </div>
        <div>
          <button class="add-btn">+</button>
        </div>
      </section>

      <section>
        <h2>Commentaire habitats</h2>
        <div>
          <p>commentaire sur habitat faire for each</p>
          <button class="btn">Modifier</button>
          <button class="btn">Supprimer</button>
          <button class="add-btn">+</button>
        </div>
      </section>

      <section>
        <h2>Compte-rendu Employé</h2>
        <div>
          <p>choix animal</p>
          <div>
            <p>date</p>
            <p>heure</p>
            <p>nourriture donnée</p>
            <p>quantité donnée</p>
            <div>
              <button class="btn">Modifier</button>
              <button class="btn">Supprimer</button>
            </div>
          </div>
        </div>
        <div>
          <button class="add-btn">+</button>
        </div>
      </section>

      <section>
        <h2>Modulation des avis</h2>
        <div class="review">
          <p class="review-content">
            Nous avons passé un agréable moment à Arcadia, un zoo familial et
            les animaux sont en excellente forme. Je recommande vivement.
          </p>
          <p class="review-name">Manon</p>
          <p class="review-date">12/03/2024</p>
          <button class="btn reverse-color-btn">Autoriser</button>
          <button class="btn reverse-color-btn">Refuser</button>
        </div>
      </section>

      <section>
        <h2>Création de compte</h2>
        <div>
          <form action="">
            <label for="email">Email/Identifiant</label>
            <input type="email" />
            <label for="lastname">Nom</label>
            <input type="text" />
            <label for="firstname">Prénom</label>
            <input type="text" />
            <label for="role">Rôle</label>
            <input type="text" />
            <label for="password">Mot de passe</label>
            <input type="password" />
            <button class="btn">Valider</button>
          </form>
        </div>
      </section>

      <section>
        <h2>Compteur de clic</h2>
        <div>
          <p>animal</p>
          <p>nombre de clic</p>
        </div>
      </section>
    </main>
    <footer>
      <div class="contact">
        <div>
          <p>Où nous trouver :</p>
          <p>Arcadia Parc Zoologique</p>
          <p>32 route de la fôret de Brocéliande</p>
          <p>56001 Brocéliande Ville</p>
        </div>
        <div>
          <p>Nos horaires et jours d'ouvertures :</p>
          <p>De 9h00 à 19h00</p>
          <p>Du Lundi au Dimanche</p>
        </div>
        <div><a href="/Contact">Nous contacter</a></div>
      </div>
      <div id="copyright">@copyright2024</div>
    </footer>
  </body>
</html>
