<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Connexion</title>
    <meta
      description="Visitez Arcadia, le seul zoo en Bretagne qui vous fait découvrir les animaux sauvages!"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Neucha&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/signin.css"/>
    <link rel="stylesheet" href="/styles/style.css"/>
  </head>
  <body>
    <header>
      <div class="links">
        <a href="/Accueil" id="logo"><img src="/images/logo L.png" alt="logo Arcadia"></a>
        <nav class="navbar">
          <ul class="links-pages">
            <li><a href="/">Accueil</a></li>
            <li><a href="/Habitats">Habitats</a></li>
            <li><a href="/Services">Services</a></li>
            <li><a href="/Contact">Contact</a></li>
          </ul>
        </nav>
        <a href="#side-drawer" class="menu-btn">
          <span></span>
          <span></span>
          <span></span>
        </a>
        <a class="connection-btn" href="/views/connexion.html">Connexion</a>
      </div>
      <div class="hero-scene">
        <h1>Connexion</h1>
      </div>
    </header>
    <aside id="side-drawer">
      <nav>
        <ul>
          <li><a href="/">Accueil</a></li>
          <li><a href="/Habitats">Habitats</a></li>
          <li><a href="/Services">Services</a></li>
          <li><a href="/Contact">Contact</a></li>
          <li><a href="/views/connexion.html">Connexion</a></li>
        </ul>
      </nav>
    </aside>
    <main>
        <div>
            <h2>Espace Privé</h2>
            <h3>(Réservé à la direction, aux vétérinaires et aux employés)</h3>
        </div>

            <form class="signin-form" action="">
                <p>Connexion</p>
                <div>
                  <label for="email">Email :</label>
                <input type="text" id="email" name="email">
                </div>
                <div>
                  <label for="password">Mot de passe :</label>
                <input type="text" id="password" name="password">
                </div>
                <button>Se connecter</button>
            </form>
           
        <div>
            <h3>Pour toutes questions, rendez-vous sur la page <a href="" id="contact-link">Contact</a></h3>
        </div>
    </main>
    <footer>
        <div class="contact">
          <div>
            <p>Où nous trouver :</p>
            <p>Arcadia Parc Zoologique</p>
            <p>32 route de la fôret de Brocéliande</p>
            <p>56001 Brocéliande Ville</p>
          </div>
          <div>
            <p>Nos horaires et jours d'ouvertures :</p>
            <p>De 9h00 à 19h00</p>
            <p>Du Lundi au Dimanche</p>
          </div>
          <div><a href="/Contact">Nous contacter</a></div>
        </div>
        <div id="copyright">@copyright2024</div>
      </footer>
    </body>
  </html>
  