/* style ID card animal */

.id-card-animal {
    flex-wrap: wrap;
    background-color: var(--color-primary);
    color: var(--color-background);
    width: 100%;
    padding-bottom: 2rem;
}

.id-card-animal-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.id-card-animal img {
    overflow: hidden;
    max-height: 20rem;
    max-width: 100%;
}

.id-card-animal-content {
    text-align: center;
}

.mat-dialog-actions {
    width: 100%;
    text-align: center;
}

.mat-dialog-actions button {
    background-color: var(--color-background);
    color: var(--color-primary);
    border: none;
}

.mat-dialog-actions button:hover {
    background-color: var(--color-call-to-action);
    color: var(--color-font);
}
