/* section welcome style */

.text-presentation p {
    text-align: justify;
}

#signature {
    font-family: var(--font-family-signature);
    text-align: end;
}

.welcome {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    align-items: center;
    justify-items: center;
}

.text-presentation {
    padding: 1rem;
    z-index: 1;
}

/* accordion style */

.accordion {
    width: 30rem;
    height: 25rem;
    display: flex;
    justify-content: space-evenly;
    overflow: auto;
    z-index: 1;
}

.accordion-content {
    position: relative;
    width: 20%;
    height: inherit;
    cursor: pointer;
    transition: all 2s ease;
}

.accordion-img {
    border-radius: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.accordion-content:hover {
    width: 200%;
}

/* discovery-section style */

.discovery-section {
    position: relative;
}

.bird-img {
    max-width: 20rem;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, -75%);
    z-index: -1;
}
.container {
    min-height: 25rem;
    background-color: var(--color-primary);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.25rem;
    justify-items: center;
    align-items: center;
    padding: 1rem 10%;
}

.stork {
    position: relative;
    background-image: url('/assets/images/storks-6519599_1280.jpg');
    width: 20rem;
    height: 20rem;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 0.5rem solid var(--color-secondary);
    color: var(--color-font);
    text-shadow: none;
}

.visit {
    position: relative;
    background-image: url('/assets/images/tour-guide-6816049_1280.jpg');
    width: 20rem;
    height: 20rem;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 0.5rem solid var(--color-secondary);
    color: var(--color-font);
    text-shadow: none;
}

.stork:hover,
.visit:hover {
    border: 0.5rem solid var(--color-call-to-action);
}

.stork h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: center;
    background-color: rgb(255, 252, 239, 0.8);
    padding: 0.8rem;
}

.visit h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: center;
    background-color: rgb(255, 252, 239, 0.8);
    padding: 0.8rem;
}

/* reviews-section style */

.reviews-section {
    background-image: url('/assets/images/little-egret-2591578_1280.jpg');
    background-size: cover;
    background-position: center;
    min-height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--color-background);
}

.reviews {
    background-color: rgb(70, 46, 1, 0.6);
}

.review {
    text-align: center;
    background-color: var(--color-primary);
    max-width: 20rem;
    min-height: 12.5rem;
    margin: auto;
    border: 0.25rem solid var(--color-font);
    border-radius: 1.25rem;
}

.review p {
    margin: 0;
}

.review-content {
    text-align: justify;
    padding: 1.5rem;
    padding-top: 2rem;
}

.review-name,
.review-date {
    text-align: end;
    padding-right: 1.5rem;
}

.more-review-btn {
    background-color: var(--color-background);
    color: var(--color-primary);
    margin: 1rem;
}

.more-review-btn:hover {
    background-color: var(--color-call-to-action);
}

.form-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20rem;
    margin: 3rem auto;
    background-color: rgb(255, 252, 239, 0.2);
    backdrop-filter: blur(0.125rem);
    border-radius: 1.25rem;
    padding: 1rem;
}

#new-review:target {
    display: block;
}

.new-review {
    display: none;
}

.form-review > * {
    margin: 0.5rem;
}

.leaf {
    position: absolute;
    top: 30%;
    right: 0;
    width: 25rem;
    /* Parallax ne fonctionne pas sur safari et firefox */
    animation: parallax linear;
    animation-timeline: scroll();
}

@keyframes parallax {
    to {
        transform: translateY(25rem);
    }
}

@media (min-width: 600px) {
    .text-presentation {
        padding-left: 40%;
    }
}

@media (max-width: 1000px) {
    .bird-img {
        display: none;
    }
    .accordion {
        width: 20rem;
        scroll-snap-type: x mandatory;
        justify-content: flex-start;
        gap: 1rem;
    }

    .accordion-content {
        flex: 0 0 100%;
        scroll-snap-align: start;
        scroll-snap-stop: always;
    }
    .accordion-img {
        object-position: right;
    }
}
