img {
    width: 100px
}

mat-icon {
margin: 0 1rem;
display : inline;
}

.add-icon {
    display: flex;
    margin: auto;
    margin-top: 2rem;
    color: var(--color-primary);
    transform: scale(2);
}

/* style account creation form */

.account-creation-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    align-items: center;
    align-content: center;
    margin: auto;
    border: 0.3rem solid var(--color-font);
    border-radius: 20px ;
    padding: 1rem;
}

.account-creation-form input,
select {
    border-radius: 15px;
    width: 300px;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.btn-section {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
}

.btn {
    width: 100px
}