img {
    width: 6.25rem;
}

mat-icon {
    margin: 0 1rem;
    display: inline;
}

.add-icon {
    display: flex;
    margin: auto;
    color: var(--color-primary);
    transform: scale(2);
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.add-icon:hover {
    color: var(--color-call-to-action);
}

form {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    margin: 3rem auto;
    align-items: center;
    border: solid 0.2rem var(--color-font);
    border-radius: 0.75rem;
}

form > * {
    margin: 0.5rem;
}

.add-img,
.image {
    display: flex;
    /* align-items: center; */

}

.mat-icon-clear {
    color: var(--color-secondary);
    margin-left: 0;
}

p {
    text-align: center;
}

#a-icon {
    padding: 0;
}

/* style account creation form */

.account-creation-form {
    align-content: center;
    margin: 2rem auto;
}

.account-creation-form input,
.account-creation-form select {
    border-radius: 1rem;
    margin: 0;
    padding: 0.5rem;
}

.btn-section {
    width: 20rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
}

.btn {
    width: 6.25rem;
}

#alert-account-created,
#alert-account-already-exist {
    display: none;
    text-align: center;
}

/* veterinary component */

section {
    border-bottom: solid 0.5rem var(--color-secondary);
    border-top: solid 0.5rem var(--color-secondary);
    padding-bottom: 2rem;
}
/* employee component */

.animal-choice {
    margin-left: 2rem;
}

/* opening component*/

.current {
    text-align: center;
    margin-bottom: 3rem;
}
