main {
    background-image: url("../../../assets/images/feuilles volantes.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 30%;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    align-items: center;
    justify-content: center;
    margin: 1.25rem auto 3rem;
    padding: 2rem;
    background-color: rgba(70, 46, 1, 0.1);
    backdrop-filter: blur(0.125rem);
    border-radius: 1rem;
  }
  
  .contact-form input,
  .contact-form textarea,
  .contact-form label {
    margin: 1rem;
    border: none;
    border-bottom: 0.125rem solid var(--color-font);
    width: 100%;
    padding: 0 0.5rem;
    background-color: rgba(70, 46, 1, 0);
  }
  
  .contact-form input {
    height: 3rem;
  }
  
  ::placeholder {
    font-family: var(--font-family-content);
    color: var(--color-font);
    transform: translateY(100%);
  }

  #rgpd-contact {
    height: 1rem;
    width: 1rem;
    margin: 0;
  }