  /* header style */
  
  header {
    min-height: 400px;
    width: 100%;
    background-image: url("/assets/images/elephants-279505_1280.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  #logo {
    padding: 0;
    box-shadow: 3px 0 15px 3px var(--color-secondary);
    border-radius: 50%;
  }

  #logo:hover {
    box-shadow: 3px 0 15px 3px var(--color-call-to-action);
  }
  
  .links {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* min-height: 30px; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    padding-top: 1rem;
    background: linear-gradient(
      180deg,
      rgba(2, 94, 25, 0.9) 10%,
      rgba(255, 255, 255, 0)
    );
  
    /* backdrop-filter: blur(1px); */
  }
  
  .navbar {
    display: flex;
    flex-direction: row;
  }
  
  .links-pages {
    display: none;
  }
  
  .navbar li {
    list-style: none;
  }
  
  /* burger menu btn style */
  
  .menu-btn {
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .menu-btn span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--color-background);
  }
  
  .connection-btn {
    display: none;
  }
  
  #side-drawer {
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: none;
  }
  
  #side-drawer:target {
    display: block;
  }
  
  #side-drawer ul {
    list-style: none;
    margin: 0;
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #side-drawer li {
    margin: 1rem 0;
  }
  
  @media (min-width: 850px) {
    .links-pages {
      display: flex;
      padding: 0;
    }
    .menu-btn {
      display: none;
    }
    .connection-btn {
      display: block;
    }
  }