mat-sidenav-container {
    height: 100vh;
    background-color: var(--color-background);
}

mat-sidenav {
    background-color: var(--color-primary);
    max-width: 20rem;
}

ul {
    margin-top: 3rem;
    padding: 0;
}

li {
    padding: 0.5rem;
    list-style: none;
}

li:hover {
    background-color: var(--color-background);
    border-radius: 0.5rem;

}

a {
    text-shadow: none;
    display: block;
    width: 100%;
}

a:hover {
    color: var(--color-font);
    box-shadow: none;
    border-radius: 0;
}

mat-toolbar {
    padding: 0;
    background-color: var(--color-background);
}

.icon-btn {
    position: absolute;
    top: 0;
    border-radius: 0;
    border-bottom-right-radius: 1.25rem;
    width: 3rem;
}
