mat-sidenav-container {
  height: 100vh;
}

mat-sidenav {
  background-color: var(--color-primary);
  max-width: 300px;
}

ul {
margin-top: 3rem;
  padding: 0;
}

li {
  padding: 1rem;
  list-style: none;
}

li:hover {
  background-color: var(--color-background);
  border-radius: 6px;
}

a {
    text-shadow: none;
}

a:hover {
  color: var(--color-font);
  box-shadow: none;
  border-radius: O;
}

mat-toolbar {
    padding: 0;
}

.icon-btn {
border-radius: 0;
width: 50px;
position: absolute;
top: 0;
}