.habitats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin: auto;
}

.habitat-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    border: 0.5rem solid var(--color-primary);
    width: 100%;
    
}

.habitat-img {
    max-width: 350px;
    overflow: hidden;
    /* height: 100%; */
    /* object-fit: ; */
}

.habitat-content {
    /* box-sizing: border-box; */
    max-width: 350px;
    height: 100%;
overflow: hidden;
    /* padding: 1rem; */
}