/* style habitat card */

.habitats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
}

.habitat-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(70, 46, 1, 0.2);
  margin: 4rem 0;
}

.habitat-img {
  max-width: 325px;
  height: auto;
  object-fit: cover;
  object-position: right;
}

.habitat-content {
  display: flex;
  flex-direction: column;
  text-align: justify;
  max-width: 325px;
  overflow: hidden;
}

.habitat-content > * {
  margin: 0;
  padding: 0.5rem;
}


/* style ID card animal */

.id-card-animal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--color-primary);
    color: var(--color-background);
    width: 100%;
    margin-bottom: 4rem;
    padding: 2rem;
}

.id-card-animal>* {
  max-width: 400px;
}

.id-card-animal img {
    clip-path: circle();
    overflow: hidden;
    
}

.id-card-animal-content>* {
    text-align: center;
}





/* responsive */

@media screen and (max-width:700px ){
    .habitat-item {
        width: 325px;
    }
}

.links {
}
