header {
    background-image: url('/images/zoo-1692079_1280.jpg');
    background-position: top;
}

.schedule p {
    font-family: var(--font-family-title);
    font-size: var(--font-size-h3);
    text-align: center;
    margin: 0;
}

.services {
    width: 100%;
    background-color: var(--color-secondary);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 8rem;
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    min-height: 500px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    background-color: var(--color-primary);
    color: var(--color-background);
    border-radius: 15px;
    overflow: hidden;
    
}

.service-img {
    width: 100%;
    object-fit: cover; 
}

.service-content p {
    text-align: justify;
    padding: 0 2rem;
}

#exception {
    font-size: var(--font-size-footer);
    font-style: italic;
}