header {
    background-image: url('/images/accueil.jpg');
}

.signin-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: center;
    align-content: center;
    margin: 20px auto;
    border: 0.3rem solid var(--color-font);
    border-radius: 20px ;
    padding: 2rem;
    background-color: rgb(3, 59, 41, 0.1);
    backdrop-filter: blur(2px);
}

.signin-form > * {
    padding: 0.5rem;
}

.signin-form p {
    margin: 0;
    text-decoration: underline;
}

.signin-form input {
    width: 100%;
    border-radius: 5px;
}

.signin-form button {
    margin-top: 1rem;
    border-radius: 5px;
    background-color: var(--color-primary);
    color: var(--color-background);
}

#contact-link {
    color: var(--color-font);
}